@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap");

* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  color: white;
  font-family: "Markazi Text", serif;
  font-size: 20px;
  text-align: center;
  margin-top: -2rem;
}
