/* src/components/Footer.module.css */

.footer {
    background-color: white;
    color: #1a1a1a;
    padding: 30px 0;
    font-family: 'Arial', sans-serif;
    height: 35vh;
    justify-content: center;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .col {
    flex: 1;
    margin: 10px;
    max-width: 300px;

  }
  
  .title {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: #1a1a1a;
  }
  .title1 {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: red;
  }
  .socialLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-right: 140px;
  }
  
  .socialLinks a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: opacity 0.3s;
  }
  
  .socialLinks img {
    width: 100%;
    height: 100%;
  }
  
  .socialLinks:hover {
    opacity: 0.7;
  }
  
  .contactInfo {
    list-style: none;
    padding: 0;
  }
  
  .contactInfo li {
    margin-bottom: 5px;
  }
  
  .copy {
    text-align: center;
    font-size: 0.9em;
    color: #1a1a1a;
  }

  @media (max-width:612px) {
    .footer{height: 42vh;}
  }
  
 