/* src/components/Projects.module.css */
body {
  height: auto !important;
}

.projectsContainer {
  padding: 40px;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #e0e0e0;
  overflow: auto; /* Changed from hidden to auto */
  margin-top: 6%;
  padding-bottom: 20px;
}

.welcomeContainer {
  text-align: center;
  margin-bottom: 40px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.welcomeHeading {
  font-size: 3em;
  margin: 0 0 10px;
  color: #00ccff;
  text-shadow: 0 0 10px rgba(0, 204, 255, 0.7);
}

.welcomeMessage {
  font-size: 1.4em;
  margin: 0 0 10px;
  font-weight: 300;
}

.welcomeDescription {
  font-size: 1.1em;
  color: #b0b0b0;
  font-weight: 200;
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.projectCard {
  background: #1c1c1c;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  transition: transform 0.4s, box-shadow 0.4s;
  position: relative;
  color: #e0e0e0;
  cursor: pointer;
  perspective: 1000px;
}

.projectCard::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(0, 204, 255, 0.5),
    rgba(255, 0, 204, 0.5)
  );
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 1;
}

.projectCard:hover::before {
  opacity: 1;
}

.projectCard:hover {
  transform: rotateY(10deg) scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
}

.projectImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: brightness(70%);
  transition: filter 0.3s;
}

.projectImage:hover {
  filter: brightness(100%);
}

.projectContent {
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.projectContent h3 {
  margin: 0 0 10px;
  font-size: 1.6em;
}

.projectContent p {
  font-size: 1em;
  color: #d0d0d0;
  margin-bottom: 15px;
}

.projectLink {
  display: inline-block;
  padding: 10px 20px;
  background: #00ccff;
  color: #1c1c1c;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s, transform 0.3s;
}

.projectLink:hover {
  background: #0099cc;
  transform: translateY(-3px);
}
